.comments {
  display: flex;
  flex-direction: column;
}

.desc{
  margin-left: 10px;
}

.container {
  margin: 50px auto;
  max-width: 100%;
  width: 90%;
  overflow: hidden;
  color: white;
}

.container_2 {
  flex: 1;
  background-color: #242424;
  width: 100%;
  color: white;
}

.all_container {
  width: 100vw;
  height: 100%;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.info_container {
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.title {
  font-size: 96px;
  font-weight: 300;
}

.input_Title  {
  margin-left: 10vw;
  margin-bottom: 10px;
  padding-top: 10vh;
}

.comments{
  margin-left: 10vw;
}

.comment {
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.input_Title textarea {
  margin-top: 10px;
  width: 50%;
  padding: 5px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.input_Title button {
  color: black;
  margin-left: 25px;
}

.post {
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.image {
  object-fit: cover;
  width: 50vw;
  border-radius: 15px;
  max-width: 500px;
}

.image_user{
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 40px;
}

.fooder_title {
  font-size: 30px;
}

.input_Title {
  width: 100%;
}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}